<h1>Users List</h1>
<% @users.each do |user| %>
<p>USERNAME:  <%= user[:username] %></p>
<p>EMAIL:  <%= user[:email] %></p>
<p>PASSWORD:  <%= user[:password] %></p>
<p><a href="/users/<%=user[:id]%>/edit">Edit</a></p>
<p>*******************</p>
<% end %>